.product-card-cart {
  margin-bottom: 10px;
}
.qty-dropdown {
  max-width: 400px;
}
.trash-button {
  background-color: white;
  border: 1px solid gray;
}
.product-card-cart {
  background-color: ghostwhite;
  padding: 10px;
}

.payment-button {
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
}
.text-align-center {
  text-align: center;
}
.empty-bag {
  background-color: white;
  padding: 20px;
}
