.qty-dropdown {
  max-width: 400px;
}

.payment-button {
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
}
.text-align-center {
  text-align: center;
}
.empty-bag {
  background-color: white;
  padding: 20px;
}
