.productText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  height: 500px;

  .noProduct {
    margin-top: 30px;
    font-size: 15px;
  }
  .noDataImage {
    width: 240px;
  }
}

.landingPage {
  margin-top: 80px;
}

.allButton {
  border: none;
  margin-top: 20px;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 15px;
}

@media screen and (max-width: 767px) {

  .landingPage {
    margin-top: 30px;
  }
}