.productText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  height: 500px;

  .noProduct {
    margin-top: 30px;
    font-size: 15px;
  }
  .noDataImage {
    width: 240px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 270px);
}

.landingPage {
  margin-top: 60px;
}

.searchInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px auto;
  font-size: 16px;
}

.searchName {
  font-weight: 700;
}
.allButton {
  border: none;
  margin-top: 20px;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .landingPage {
    padding: 0 30px;
    margin-top: 20px;
  }
  .searchInfo {
    margin: 10px auto 40px;
  }
}
