.cartPage {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noCart {
  text-align: center;
}

.noCartImage {
  width: 200px;
}

.noCartText {
  font-size: 21px;
  margin-top: 20px;
  font-weight: 700;
}
