.cartPage {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.noCart {
  text-align: center;
}

.noCartImage {
  width: 200px;
}

.noCartText {
  font-size: 21px;
  margin-top: 20px;
  font-weight: 700;
}

@media screen and (max-width: 63rem) {
  .noCart {
    margin-bottom: 30px;
  }
}
