.loginButtonArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginForm {
  width: 100%;
}
.loginArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
}

.text {
  font-size: 14px;
}

.google {
  text-align: center;
  margin-top: 50px;
}

.googleText {
  font-size: 15px;
  padding-top: 30px;
  border-top: 1px solid #d8d8d8;
  font-weight: 700;
}
