.receiptContainer {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  padding: 32px 24px;
}

.receiptTitle {
  font-size: 25px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
}

.itemList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.cartTotal {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  background-color: #f2f5f6;
  font-size: 16px;
}

.receiptList {
  list-style-type: none;
  padding: 0;
  li {
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
    margin-top: 10px;
    &:last-child {
      border-bottom: none;
    }
  }
}

.infoText {
  margin-top: 50px;
  font-size: 14px;
}

.itemPrice {
  min-width: 85px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.nameInfo {
  font-size: 17px;
}

.sizeInfo {
  margin-top: 4px;
  color: #6d6d6e;
  font-size: 14px;
}

@media screen and (max-width: 63rem) {
  .receiptContainer {
    margin-bottom: 30px;
  }
}
